# ── 后端框架 ──────────────────────────────────────────────────
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9

# ── 文档解析（成员2）─────────────────────────────────────────
python-docx==1.1.0
openpyxl==3.1.2
pdfplumber==0.11.0
#额外补充
xlrd==2.0.1

# ── LLM 与检索（成员2/3）────────────────────────────────────
langchain==0.2.0
langchain-community==0.2.0
openai==1.30.0
chromadb==0.5.0
rank-bm25==0.2.2
sentence-transformers==3.0.0

# ── 数据库 ───────────────────────────────────────────────────
sqlalchemy==2.0.30
pydantic-settings==2.2.1

# ── 前端（成员5）────────────────────────────────────────────
gradio==4.36.0

# ── 工具 ─────────────────────────────────────────────────────
python-dotenv==1.0.1
pydantic==2.7.0
loguru==0.7.2
